.main {
background-color: rgb(28, 28, 28);
}


.container {
    display: flex;
    flex-direction: column;
    gap: 125px;
}

@media screen and (max-width: 915px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}