.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.boxContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.box {
    width: 385px;
    background-color: #2a2d3d;
    height: 145px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    text-decoration: none;

    line-height: 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(235, 235, 235);
}

.box:hover {
    scale: 1.05;
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.263);
    cursor: pointer;
    font-size: 22px;

    color: rgb(253, 253, 253);
}

.image {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.realImage {
    width: 90%;
}